# Semana 03
Daniel Navarro Tantalean

TEMAS:
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso por teclado
    5. Operadores

In [1]:
5/0

ZeroDivisionError: division by zero

In [2]:
-6+45

39

In [5]:
-5*5

-25

2. Variables

In [18]:
nombre = "Daniel"
apellido = "Navarro"
nombre_completo = "Hola {} {} bienvenio"
nombre_completo.format(nombre,apellido)

'Hola Daniel Navarro bienvenio'

In [19]:
talla = 1.90
type(talla)

float

3.  Cadena

In [26]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena[11]

' '

In [23]:
cadena[-5]

'a'

In [24]:
cadena[21]

'T'

In [27]:
cadena[-23]

'T'

In [29]:
cadena[3:8] ##para obtener la cadena en un rango de caracteres [desde,hasta antes]

'versi'

In [30]:
len(cadena)

44

In [39]:
cadena.upper() ##mayuscula
cadena.lower() ##minuscul

'universidad nacional tecnologica de lima sur'

In [40]:
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [43]:
cadena.split("n")

['U', 'iversidad Nacio', 'al Tec', 'ologica de Lima Sur']

In [44]:
nombre = "Daniel Navarro"
edad = "21"
print("hola {} tengo {} años".format(nombre,edad))

hola Daniel Navarro tengo 21 años

In [46]:
resultado = 10/3
print(f"El resultado es {resultado}")
print(f"El resultado es {resultado:1.3f}")

El resultado es 3.3333333333333335
El resultado es 3.333