# SEMANA 05
Daniel Navarro Tantalean

Temas:
1. Colecciones
2. Estructuras decisivas y repetitivas
3. Clase y Objetos
4. Funciones

1. Colecciones de datos

In [3]:
##Una tupla es una coleccion de elementos ordenados
# no se puede eliminar ni agregar elementos
tupla = ('Navarro','Perez','Vega','Marcani')
tupla

('Navarro', 'Perez', 'Vega', 'Marcani')

In [6]:
#tamaño de la tupla
len(tupla)

4

In [5]:
tupla[2]

'Vega'

1.3 Conjuntos

In [9]:
# no se puede acceder por posicion pues no consideraa indexacion
conjunto_aula = {'Ramon','Moreno','Pascacion','Luque'}
conjunto_aula

{'Luque', 'Moreno', 'Pascacion', 'Ramon'}

In [10]:
for alumno in conjunto_aula:
    print(alumno)

Ramon
Pascacion
Luque
Moreno

In [12]:
conjunto_aula[2]

TypeError: 'set' object is not subscriptable

In [13]:
#Paa agregar
conjunto_aula.add('Muñoz')
conjunto_aula

{'Luque', 'Moreno', 'Muñoz', 'Pascacion', 'Ramon'}

In [14]:
#Paa eliminar
conjunto_aula.remove('Luque')
conjunto_aula

{'Moreno', 'Muñoz', 'Pascacion', 'Ramon'}

In [15]:
#1.4
diccionario_aula={2:'Muñoz',1:"Luque",'dos':'Pascacio','3':'Navarro','0':'Lopez'}
diccionario_aula

{2: 'Muñoz', 1: 'Luque', 'dos': 'Pascacio', '3': 'Navarro', '0': 'Lopez'}

In [16]:
diccionario_aula['0']

'Lopez'

In [18]:
#PARA AÑADIR UN DATO AL DICCIONARIO
diccionario_aula['20'] = 'Tenorio'
diccionario_aula

{2: 'Muñoz',
 1: 'Luque',
 'dos': 'Pascacio',
 '3': 'Navarro',
 '0': 'Lopez',
 '20': 'Tenorio'}

In [19]:
#PARA ELIMINAR UN DATO AL DICCIONARIO
diccionario_aula.pop('dos')
diccionario_aula

{2: 'Muñoz', 1: 'Luque', '3': 'Navarro', '0': 'Lopez', '20': 'Tenorio'}

In [20]:
for indice in diccionario_aula:
    print(diccionario_aula[indice])

Muñoz
Luque
Navarro
Lopez
Tenorio

In [21]:
for indice,valor in diccionario_aula.items():
    print(indice,valor)

2 Muñoz
1 Luque
3 Navarro
0 Lopez
20 Tenorio

In [22]:
lista = ['FIGUEROA' 
'GARCIA',
'GUTIERREZ',	
'ISLA',  
'LOPEZ', 
'LUQUE', 
'MAMANI', 	
'MARCANI', 	
'MONDRAGON', 	
'MORENO',	
'MUÑOZ',	
'NAVARRO',
'OTAZU',
'PASCACIO', 
'RAMON', 
'TENORIO',
'VEGAS',
]
lista

['FIGUEROAGARCIA',
 'GUTIERREZ',
 'ISLA',
 'LOPEZ',
 'LUQUE',
 'MAMANI',
 'MARCANI',
 'MONDRAGON',
 'MORENO',
 'MUÑOZ',
 'NAVARRO',
 'OTAZU',
 'PASCACIO',
 'RAMON',
 'TENORIO',
 'VEGAS']

In [33]:
#EJERCICIO
lista = ['FIGUEROA' 
'GARCIA',
'GUTIERREZ',	
'ISLA',  
'LOPEZ', 
'LUQUE', 
'MAMANI', 	
'MARCANI', 	
'MONDRAGON', 	
'MORENO',	
'MUÑOZ',	
'NAVARRO',
'OTAZU',
'PASCACIO', 
'RAMON', 
'TENORIO',
'VEGAS',
]
nombre=input()
nombre = nombre.upper()
respuesta = ""
for nombres in lista:
    if nombre == nombres:
        respuesta = "El alumno se encuentra en la list"
    else:
        respuesta = "El alumno no se encuentra en la lista"
respuesta

vegas

'El alumno se encuentra'